[submodule "HomeHub"]
	path = HomeHub
	url = https://github.com/AJGherardi/HomeHub
[submodule "HomeApp"]
	path = HomeApp
	url = https://github.com/AJGherardi/HomeApp
[submodule "MeshController"]
	path = MeshController
	url = https://github.com/AJGherardi/MeshController
[submodule "GoMeshController"]
	path = GoMeshController
	url = https://github.com/AJGherardi/GoMeshController
[submodule "ButtonFirmware"]
	path = ButtonFirmware
	url = https://github.com/AJGherardi/ButtonFirmware
[submodule "HomeNodes"]
	path = HomeNodes
	url = https://github.com/AJGherardi/HomeNodes
