[submodule "HomeHub"]
	path = HomeHub
	url = https://github.com/AJGherardi/HomeHub
[submodule "HomeApp"]
	path = HomeApp
	url = https://github.com/AJGherardi/HomeApp
[submodule "OutletFirmware"]
	path = OutletFirmware
	url = https://github.com/AJGherardi/OutletFirmware
[submodule "MeshController"]
	path = MeshController
	url = https://github.com/AJGherardi/MeshController
[submodule "GoMeshController"]
	path = GoMeshController
	url = https://github.com/AJGherardi/GoMeshController
